diffusers @ git+https://github.com/huggingface/diffusers.git@c934720629837257b15fd84d27e8eddaa52b76e6
accelerate
peft
transformers
runpod
supabase
uvicorn
fastapi
pydantic
uuid
python-dotenv
pillow
numpy
ftfy
xformers
triton